.cart-btn{
    background-color:#8bc34a !important;
     color: white  !important ;
     font-weight: bold !important;
     padding: 2px 8px !important;

}
.card-btns{
    display: flex;
    justify-content: space-between ;
    width: 100% !important;
    position: absolute !important;
    bottom: 10px ;
   
}

.view-btn{
    background-color: white !important;
    color: #8bc34a !important;
    border: 1px solid #8bc34a !important;
}
